<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      background-color: #f4f4f9;
      margin: 0;
      padding: 20px;
    }

    h1 {
      text-align: center;
      color: #333;
    }

    form {
      margin: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    label {
      font-weight: bold;
      font-size: 16px;
    }

    input[type="text"] {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 300px;
    }

    button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background-color: #45a049;
    }

    p {
      font-size: 18px;
      color: #333;
      text-align: center;
    }

    table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    th, td {
      padding: 12px;
      border: 1px solid #ddd;
      text-align: center;
    }

    th {
      background-color: #f2f2f2;
      font-size: 16px;
    }

    td {
      font-size: 14px;
    }

    tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }

  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
</head>

<body>
  <h1>URL Shortener</h1>

  <% if(locals.id){ %>
    <p>Url generated: <a href="http://localhost:3000/url/<%= id %>">http://localhost:3000/url/<%= id %></a></p>
  <% } %>

  <div>
    <form method="POST" action="/url">
      <label>Enter your URL:</label>
      <input type="text" name="url" placeholder="https://example.com" required>
      <button type="submit">Shorten it!</button>
    </form>
  </div>

  <div>
    <% if(locals.urls) { %>
      <table>
        <thead>
          <tr>
            <th>S.No</th>
            <th>Short ID</th>
            <th>Redirect URL</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= url.shortId %></td>
              <td><%= url.redirectUrl %></td>
              <td><%= url.visitHistory.length %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } %>
  </div>
</body>

</html>
