<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Blog</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="container mt-4">
      <h1><%= blog.title %></h1>
      <img src="<%= blog.coverImageUrl %>" alt="Img" width="700px" />
      <pre class="mt-3"><%= blog.content %></pre>
    </div>

    <div class="container mt-4">
      <img src="<%= blog.author.profileImageUrl %>" width="50px" />
      <%= blog.author.username %>
    </div>

    <div class="container mt-3">
      <h1>Comments (<%= comments.length %>)</h1>
      <% if (user) { %>
        <form action="/api/blog/comment/<%= blog._id %>" method="post">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="content"
              name="content"
              aria-describedby="content"
              placeholder="Enter your comment"
            />
            <button
              class="btn btn-sm btn-primary mt-2"
              style="border-radius: 5px"
            >
              Add
            </button>
          </div>
        </form>
      <% } %>
          <div class="mt-3">
      <% comments.forEach(comment => { %>
        <div>
          <img src="<%= comment.author.profileImageUrl %>" width="30px" />
          <%= comment.author.username %>
          <pre><%= comment.content %></pre>
        </div>
      <% }) %>
    </div>
    </div>



    <%- include('./partials/script.ejs') %>
  </body>
</html>
